body {
  background-color: #e67e22;
  font-family: 'courier new';
}

div#app {
  height: 100vh;
  position: relative;
  color: ghostwhite;
}

#app > div {
  height: 100%
}

/* Footer Styles */
div.footer {
  position: absolute;
  bottom: -1px;
  height: 10vh;
  width: 100%;
  text-align: center;
}

.github-link {
  font-size: 18px;
  transition: color 0.7s ease;
  letter-spacing: 0.5px;
}
 .github-link i {
  font-size: 24px;
  padding-left: 14px;
  vertical-align: -3px;
}

span.github-link:hover {
  color: #34495e;
  cursor: pointer;
}

/*TODO: Take out bottom border*/
div.header {
  height: 10vh;
  /*border-bottom: 2px solid #34495e;*/
}

.navigation {
  height: 100%;
}

.navigation > div {
  padding: 10px;
}

div.right-section {
  text-align: right;
}

div.left-section {
  float: left;
  padding-left: 0px;
}

.navigation > div > i {
  transition: color 0.7s ease;
  padding-left: 10px;
  font-size: 20px;
}

.navigation > div > i:hover {
  color: #34495e;
  cursor: pointer;
}

/*Main Section Styles*/

.sign-in-button {
  position: relative;
  text-align: center;
  padding: 10px 15px;
  background-color: #34495e;
  color: ghostwhite;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 3px 3px 0px 0px rgba(42, 62, 80, 1.0);
}

div.main-container {
    padding-top: 1vh;
    height: 80vh;
}

.main-container.login {
  margin: 100px 25px;
}

.settings-row ul > li {
  padding-bottom: 5px;
  text-align: center;
}

div.toggle-label {
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
}

div.quit-app {
  display: block;
  border: 2px solid whitesmoke;
  left: 61px;
  bottom: 20vh;
  position: absolute;
  border-radius: 2px;
  padding: 10px;
  background-color: whitesmoke;
  transition: all 0.7s ease;
}

div.quit-app:hover {
  background-color: #34495e;
}

.quit-app span {
  padding-left: 5px;
  font-weight: bold;
  letter-spacing: 0.3px;
}


.sections i.fa {
  font-size: 30px;
  padding: 5px 21px;
  transition: color 0.5s ease;
}

.sections i.fa:hover {
  color: #e67e22;
  cursor: pointer;
}

.sections {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #34495e;
}


.profile img {
  border-radius: 10px;
  width: 20%;
  margin-left: 10px;
  float: left;
}

.profile-info-right {
  padding-top: 5px;
  padding-left: 10px;
  display: inline-block;
}

.profile-info-right > span {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
}

.profile-info-right span > a {
  transition: color 0.7s ease;
}

.profile-info-right span > a:hover {
  cursor: pointer;
  color: #34495e;
}

.profile-wrapper {
  border-bottom: 5px solid;
  padding-bottom: 10px;
  border-radius: 6px;
}

.profile-error {
  text-align: center;
  margin-top: 75px;
  font-size: 20px;
}

/* Search Section Styles */
.search-bar {
  padding: 10px 5px;
  text-align: center;
}

.search-bar > input {
  padding: 4px 30px;
  border-radius: 15px;
  font-size: 16px;
  color: #34495e;
  border: none;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #34495e;
}

/*TODO: */
/* these cause a drop in the search bar... also transition currently does nothing*/
.close-search {
  transition: all 0.5s;
  margin-left: 10px;
  font-size: 20px;
}

.search-field {
}

.search-field div {
  /*padding: 4px 30px;*/
  padding: 5px 0px;
  /*border-radius: 8px;*/
  font-size: 16px;
  color: #34495e;
  border: none;
  outline: none;
  background-color: white;
  text-align: center;
}

.search-field div > span {
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.search-field div > span:hover {
  cursor: pointer;
}

.active-field {
  background-color: #34495e;
  color: white;
}

/*.main {
  color: ghostwhite;
  padding: 100px 100px 75px;
  text-align: center;
}

.sign-in-button a {
  color: ghostwhite;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}*/
