body {
  background-color: #f7f7f7;
  font-family: sans-serif;
  color: #121113;
}

div#app {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#app > div {
  height: 100%
}

/* Navigation styles */
.nav {

}

.nav > li {
  float: left;
  background: #0e1f38;
  cursor: pointer;
}

.nav > li:hover {
  background: #ff6e40;
}

.nav > li.active {
  background-color: #ff6e40;
  cursor: default;
}

/* Footer Styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  text-align: center;
  font-size: 24px;
  color: #f7f7f7;
}

.sections {
  width: 100%;
  height: 100%;
}

.sections > li {
  width: 25%;
  height: 100%;
  padding: 10px 0;
}

/* Github link */
.github-link {
  font-size: 18px;
/*  transition: color 0.7s ease;*/
  letter-spacing: 0.5px;
}

.github-link i {
  font-size: 24px;
  padding-left: 14px;
  vertical-align: -3px;
}

span.github-link:hover {
  color: #34495e;
  cursor: pointer;
}

/*TODO: Take out bottom border*/
div.header {
  display: none;
  height: 10vh;
  /*border-bottom: 2px solid #34495e;*/
}

.navigation {
  height: 100%;
}

.navigation > div {
  padding: 10px;
}

div.right-section {
  text-align: right;
}

div.left-section {
  float: left;
  padding-left: 0px;
}

.navigation > div > i {
  transition: color 0.7s ease;
  padding-left: 10px;
  font-size: 20px;
}

.navigation > div > i:hover {
  color: #34495e;
  cursor: pointer;
}

/*Main Section Styles*/

.sign-in-button {
  position: relative;
  text-align: center;
  padding: 10px 15px;
  background-color: #34495e;
  color: ghostwhite;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 3px 3px 0px 0px rgba(42, 62, 80, 1.0);
}

div.main-container {
  width: 100%;
  height: 90vh;
  padding: 0 10px;
  font-size: 12px;
}

.main-container.login {
  margin: 100px 25px;
}

.settings-row ul > li {
  padding-bottom: 5px;
  text-align: center;
}

div.toggle-label {
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
}

div.quit-app {
  display: block;
  border: 2px solid black;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  margin: 6px;
  background-color: whitesmoke;
  transition: all 0.7s ease;
}

div.quit-app:hover {
  background-color: #34495e;
}

.quit-app span {
  padding-left: 5px;
  font-weight: bold;
  letter-spacing: 0.3px;
}


.profile img {
  border-radius: 10px;
  width: 20%;
  margin-left: 10px;
  float: left;
}

.profile-info-right {
  padding-top: 5px;
  padding-left: 10px;
  display: inline-block;
}

.profile-info-right > span {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
}

.profile-info-right span > a {
  transition: color 0.7s ease;
}

.profile-info-right span > a:hover {
  cursor: pointer;
  color: #34495e;
}

.profile-wrapper {
  border-bottom: 5px solid;
  padding-bottom: 10px;
  border-radius: 6px;
}

.profile-error {
  text-align: center;
  margin-top: 75px;
  font-size: 20px;
}

/* Search Section Styles */
/* Search bar */
.search-bar {
  margin: 10px 0;
  border-bottom: 2px solid #aaa;
}

.search-bar > input {
  display: inline-block;
  width: calc(100% - 30px);
  padding: 10px 5px 0 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.close-search {
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
}

.close-search:before {
  content: "\00d7";
}

/* Search nav */
.tabs {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  color: #f7f7f7;
}

.tabs > li {
  float: left;
  display: block;
  padding: 5px 0;
  border-radius: 2px;
}

.search .tabs > li {
  width: calc((100% - 10px) / 3);
}

.search .tabs > li:nth-child(2) {
  margin: 0 5px;
}


/* Search Results */
.search-results {
  width: 100%;
  height: 251px;
}

/*Search Items*/
.search-items {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.search-item {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px; /* TODO: compact for more results? */
  background: #ebebeb;
  border-radius: 2px;
  cursor: pointer;
}

.search-item:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #ff6e40;
  background: #fff;
}

.search-item > figure {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: #ccc;
}

.search-item > figure > img {
  width: 100%;
  height: auto;
}

.track-info {
  float: left;
  width: calc(100% - 70px);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-info > h3 {
  font-weight: 700;
}

.track-info > .meta {
  margin-top: 5px;
  font-size: 10px;
  color: #aaa;
}

.track-info > .meta > li {
  float: left;
  margin-right: 5px;
}

.search-item:hover .meta > li {
  color: #ff6e40;
}

.track-info i:before {
  margin-left: 0;
}

/* Playlist result */
.playlist .meta {
  margin-top: 3px;
}

.playlist .meta > li {
  display: inline-block;
  padding: 2px 0;
}

.playlist .meta > li.playlist-type {
  padding: 2px;
  color: #f7f7f7;
  background: #aaa;
  border-radius: 1px;
}

.meta > .playlist-type:before {
  content: "#";
}

.search-init {
  padding: 75px 50px;
  text-align: center;
  display: inherit;
}

/* Likes */
.likes > h1 {
  margin: 20px 0 0 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.likes .tabs > li {
  width: calc(50% - 5px);
}

.likes .tabs > li:first-child {
  margin-right: 10px;
}

.likes-wrapper {
  width: 100%;
  height: 258px;
}
